<form class="skill-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="floxrow">

    <div class="flexrow">
      <span class="competence-base flexrow" >Bonus/Malus : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{#select bonusMalus}}
        {{{optionsBonusMalus}}}
        {{/select}}
      </select> 
    </div>

  </div>
  
</form>
